<!DOCTYPE html>
<html>
  <head>
    <title>DB Forum</title>
    <style>
      h1, form { text-align: center; }
      textarea { width: 400px; height: 100px; }
      div.post { border: 1px solid #999;
                 padding: 10px 10px;
                 margin: 10px 20%; }
      hr.postbound { width: 50% }
      em.date { color: #999 }
      #answers {text-align: left !important;}
      #answers div:nth-child(1n) {margin-bottom: 10px}
      #loader { display: none}
    </style>
  </he,divad>
  <body>

  <h1> REPORTING TOOL BASED ON VIEWS </h1>
  <form method = "POST">
    {{form.csrf_token}}
    {{form.question}}
    <div id="answers" class="post"><em class="date"></em><br>
      
    </div>
  </form>

  <script>
    var question_select = document.getElementById("question");
    var answers = document.getElementById("answers");
    var loader = document.getElementById("loader")
    question_select.onchange = function() {
      question = question_select.value;
      answers.innerHTML = 'LOADING...'
      fetch('/question/'+question).then(function(response) {
         
        response.json().then(function(data) {
          answers.innerHTML = ''
           for (var i=0; i < data.answer.length; i++) {
            var newDiv = document.createElement("div");
            if(Array.isArray(data.answer[i])) {
              for (var j=0; j< data.answer[i].length; j++) {
                var newDivChild = document.createElement("div");
                var content  = document.createTextNode(data.answer[i][j]);
                newDivChild.appendChild(content);
                newDiv.appendChild(newDivChild);
              }
            } else {
              var content  = document.createTextNode(data.answer[i]);
              newDiv.appendChild(content);
            }
            answers.append(newDiv);
           }
        })
      })
    }
  </script>
  </body>
</html>